---
{{- $environment := printf "%s" .Values.global.environment -}}
{{- $fullAppName := printf "%s-%s" .Values.appName $environment -}}
{{- $host := "" }}
{{- if eq $environment "prod" }}
{{- $host = printf "%s.infrajet.dev" .Values.hostname -}}
{{- else }}
{{- $host = printf "%s-%s.infrajet.dev" .Values.hostname $environment -}}
{{- end }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    link.argocd.argoproj.io/external-link: https://{{ $host }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://{{ .Values.FRONTEND_URL }}"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, DELETE"
  name: {{ printf "ing-%s" $fullAppName }}
  labels:
    app: {{ printf "%s" .Values.appName }}
    environment: {{ $environment }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ $host }}
    http:
      paths:
      - backend:
          service:
            name: {{ printf "service-%s" $fullAppName }}
            port:
              number: 8000
        path: /
        pathType: ImplementationSpecific
