apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: {{ .Values.argocd.destination.namespace }}
    server: {{ .Values.argocd.destination.server }}
  project: default
  source:
    helm:
      values: |
        argo-cd:
          configs:
            cm:
              url: https://management.infrajet.dev/argo-cd
            params:
              server.insecure: true
            rbac: {{ toYaml .Values.argocd.rbac | nindent 14 }}
          server:
            ingress:
              hostname: management.infrajet.dev
        environment: management
    chart: infra-cd
    repoURL: {{ .Values.argocd.source.chartRepoURL }}
    targetRevision: 0.1.3 # x-release-please-version
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
