---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress-nginx
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ingress-nginx
    server: {{ .Values.argocd.destination.server }}
  project: default
  source:
    chart: infra-ingress-nginx
    repoURL: {{ .Values.argocd.source.chartRepoURL }}
    targetRevision: 0.1.3 # x-release-please-version
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
