---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-eso
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: external-secrets
    server: {{ .Values.argocd.destination.server }}
  project: default
  source:
    chart: infra-eso
    repoURL: {{ .Values.argocd.source.chartRepoURL }}
    targetRevision: 0.1.4 # x-release-please-version
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
